* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  min-height: 100vh;
display: flex;
flex-direction: column;
}

.navbar{


  height:60px;
  background-color: #18301b;
  color: #fff;
  align-items: center;
  padding: 0.75rem 1px;
}

.navbar-container{

  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.navbar-logo{
  font-family:'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #539467;
transition: color 0.3s ease;
}

.navbar-logo:hover{
  color: #fff;
}



.navbar-link{
    display: flex;
  gap: 1rem;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar-link:hover{
  color: #72ce8d;
}

.navbar-auth{
  display: flex;
  gap: 1rem;
}

.navbar-auth-link{
  gap: 1rem;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}
.navbar-auth-link:hover{
  color: #f0ff66;
}

.btn{
  display:inline-block;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  padding: 0.45rem 1rem;
    text-decoration: none;
      border: 2px solid #fff;
  border-radius: 10px;
    border: none;
  cursor: pointer;
}

.btn-primary{
  
  background-color: #539467;
  color: #fff;


  transition: background-color 0.3s ease;
}

.btn-primary:hover{
  background-color: #72ce8d;
}

.btn-secondary{
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-secondary:hover{
  background-color: #fff;
  color: #18301b;
}
